---
import MainLayouts from '../layouts/MainLayouts.astro'
import CustomTitle from '../components/customTitle.astro'
---

<MainLayouts  title ='About'>
	<p>About</p>
	<CustomTitle title='This is cumton title'/>
</MainLayouts>
	<style >
		
	</style>

